@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

:root{
   --blue:#00b8b8;
   --black:#333;
   --white:#fff;
   --light-color:#666;
   --light-bg:#eee;
   --border:.2rem solid rgba(0,0,0,.1);
   --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

*{
   font-family: 'Poppins', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration:none !important;
   text-transform:capitalize;
}


*::-webkit-scrollbar-track{
   background-color: var(--blue);
}

*::-webkit-scrollbar-thumb{
   background-color: var(--blue);
}

html{
   font-size: 62.5%;
   overflow-x: hidden;
   scroll-behavior: smooth;
   scroll-padding-top: 6.5rem;
}

.section{
   padding: 5rem 9%;
}

.btn{
   margin-top: 1rem;
   display: inline-block;
   border: var(--border);
   color: black;
   cursor: pointer;
   background: none;
   font-size: 1.7rem;
   padding: 1rem 3rem;

}

.btn:hover{
   background: black;
   color: white;
}


.header{
   padding: 2rem;
   border-bottom: var(--border);
}

.header #logo{
   font-size: 2rem;
   color: var(--black);
}

.header #logo span{
   color: var(--blue);
}

.header .navbar a{
    margin:0 1rem;
    font-size: 1.7rem;
    color:var(--black);
 }
 
.header .navbar a:hover{
    color:var(--blue);
 }

 .icon {
    font-size: 2.5rem;
    margin-left: 2rem;
    cursor: pointer;
 
  }

 .icon a, .icon div{
    margin-left: 2rem;
    
 
 
}

 .icon .a .hover{
    color: rgb(51, 99, 91);
 }

.icon #menu-btn{
   display: none;
}

.header .navbar #nav-close{

   font-size: 5rem;
   cursor: pointer;
   color: #333;
   display: none;

}

@media (max-width:1200px){
   .header{
      padding: 2rem;
   }

   .section{
      padding: 3rem 2rem;
   }
   
}


@media (max-width:991px){
 html{
    font-size: 55%;
   }
   .home .box {
      padding: 2rem;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      background-position: right !important;
    }
    .home .box.second {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      background-position: left !important;
    }
    .home .box .content {
      text-align: center;
    }
    .home .box .content span {
      font-size: 3rem;
    }
    .home .box .content h3 {
      font-size: 4rem;
    }
    
 
 }

 @media (max-width:768px) {
   .header #menu-btn {
      display:inline-block;    
   }

   .header .navbar {
     position: fixed;
     top: 0; 
     left:-110%;
     background:white;
     z-index: 10000;
     width: 35rem;
     height: 100%;
  
     display: flex;
     flex-flow: column;
     align-items: center;
     justify-content: center;       
   }
   .header .navbar.active {
      left: 0;
      box-shadow: 0 0 0 100vw rgba(0,0,0,.8);
   }
  
   .header .navbar a {
      margin: 1rem 0;
      font-size: 3rem;
   }

   .header .navbar #nav-close {
      display: block;
      position: absolute;
      top: 1rem; right: 1.5rem;
   }

   }

.home {
  padding: 0;
}

.home .box {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: cover !important;
  background-position: center !important;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 2rem 9%;
}

.home .box.second {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.home .box .content {
  width: 50rem;
}

.home .box .content span {
  font-size: 4rem;
  color: #10221b;
}

.home .box .content h3 {
  font-size: 6rem;
  color: #219150;
  padding-top: .5rem;
  text-transform: uppercase;
}

.home .box .content p {
  line-height: 2;
  color: #10221b;
  font-size: 1.5rem;
  padding: 1rem 0;
}

.swiper-button-next::after,
.swiper-button-prev::after{
  font-size: 3rem;
  color: #10221b;
}



 @media (max-width:450px){
   .html{
      font-size: 50%;
   }
   }








