@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body{
	line-height: 1.5;
}

.footerf .containerf .rowf .footer-column p 
{
	color: black;
}

.containerf{
	max-width: 1170px;
	margin:auto;
    max-height: 400px;
    
    
}
.rowf{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footerf{
	background-color: #C4DCFA;
    padding: 30px 0;
    box-sizing: border-box;
}
.footer-column{
   width: 25%;
   padding: 0 15px;
}
.footer-column h4{
	font-size: 18px;
	color: black;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-column h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #202DF0;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-column ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-column ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: black;
	text-decoration: none;
	font-weight: 300;
	color: black;
	display: block;
	transition: all 0.3s ease;
}
.footer-column ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-column .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: black;
	transition: all 0.5s ease;
}

.footer-column .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}




